<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="wh.dao.NodeDao">

    <resultMap id="BaseTreeResultMap" type="wh.entity.Node">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <collection column="{id=id}" property="next" ofType="wh.entity.Node"
                    select="getNextNodeTree"/>
    </resultMap>

    <resultMap id="NextTreeResultMap" type="wh.entity.Node">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <collection column="{id=id}" property="next"
                    ofType="wh.entity.Node" select="getNextNodeTree"/>
    </resultMap>


    <select id="getNodeTree" resultMap="BaseTreeResultMap">
        select id,name from node
        <where>
            id = #{id}
        </where>
    </select>

    <select id="getNextNodeTree" resultMap="NextTreeResultMap">
        select id,name from node
        <where>
            parent_id = #{id}
        </where>

    </select>


</mapper>

